#editor {
  height: 200px; /* Adjust as needed */
  border: 1px solid #ced4da;
  padding: 10px;
}

#preview {
  height: 200px; /* Adjust as needed */
  border: 1px solid #ced4da;
  padding: 10px;
  overflow-y: auto;
}

#output {
  height: 100px; /* Adjust as needed */
  border: 1px solid #ced4da;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}

.btn-toolbar {
  margin-bottom: 10px;
}